@import "~office-ui-fabric-react/dist/sass/References.scss";

.cafemenus {
  .row {
    @include ms-Grid-row;
    padding: 10px;
  }
  a:hover {
    background-color: whitesmoke;
  }
  .column {
    @include ms-Grid-col;
  }

  .active {
    color: #fff !important;
    background-color: #a6093d !important;
  }
  a {
    // color: #a6093d !important; //add for admin
    color:black;
  }
  .navwd {
    width: 50% !important;
    text-align: center;
  }
  .brrad {
    border-radius: 0 !important;
  }
  .logo {
    background-repeat: no-repeat;
    width: 20%;
  }

  @media screen and (max-width: 425px) {
    .logo {
      width: 50% !important;
    }
  }
}
