@import '~office-ui-fabric-react/dist/sass/References.scss';

.staffnews {
  .logo {
    background-repeat: no-repeat;
    width: 20%;
  }

  @media screen and (max-width: 425px) {
    .logo {
      width: 50% !important;
    }
  }
}
