@import "~office-ui-fabric-react/dist/sass/References.scss";

.employeeperks {
  ol > li {
    line-height: 2;
    text-align: justify;
  }
  a:hover {
    color: #0056b3;
    background-color: whitesmoke;
  }
}
