@import "~office-ui-fabric-react/dist/sass/References.scss";

.workorderform {
  a:hover {
    background-color: whitesmoke;
  }
  .align {
    margin: 0;
    text-align: center;
  }
  .br {
    width: 600px;
  }
  .navwd {
    width: 50% !important;
    text-align: center;
  }
  .brrad {
    border-radius: 0 !important;
  }
  .btnclr {
    color: #ffffff;
    background-color: #a61d40;
    border-radius: 0 !important;
    &:hover {
      color: #ffffff;
    }
  }
  .logo {
    background-repeat: no-repeat;
    width: 20%;
  }
}
