@import "~office-ui-fabric-react/dist/sass/References.scss";

@font-face {
  font-family: "Teams Assets";
  src: url("https://contosohealthsystem.sharepoint.com/:u:/s/ConnectEmployee/EbI67qhodshHoDnu9mEcwsoB1IAgZ6tPSRGT0l4uH3TzYQ?e=DyGdOx")
      format("woff"),
    url("https://contosohealthsystem.sharepoint.com/:u:/s/ConnectEmployee/EdyaTp2MoCNGjvfphCei9wsB3QUpGHZWEZTaxEVKhErjbQ?e=usULuU")
      format("woff2");
  font-style: normal;
}

.hrcontent {
  .paystubrow:hover .paystubrow {
    transform: scale(1.033);
    /* box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .paystubrow {
    transition: all 0.2s ease-in;
  }
  .dis {
    padding: 10px;
    margin-bottom: 4%;
  }
  .logo {
    background-image: url("https://m365x520260.sharepoint.com/:i:/s/ConnectEmployee/Ed09RfmV2MBKsgPg22V_DOsBo2rdf2AmL6DPAiPLmquXtQ?e=h6ZrEG");
    background-repeat: no-repeat;
    background-size: 500px;
  }

  .date {
    // margin-left: 55%;
    float: right;
  }
  .date1 {
    float: left;
  }
  .datewidth {
    width: "300px";
  }
  td,
  th {
    vertical-align: middle !important;
    &:nth-child(n + 1) {
      width: 45%;
    }
  }

  button {
    text-decoration: blink !important;
  }
  button,
  .card,
  .heading {
    cursor: pointer;
  }
  .ptoalign,
  .reqpto {
    text-align: center;
    vertical-align: middle;
  }
  .reqpto {
    margin-top: 5%;
  }
  .deck {
    padding: 2rem;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  // .pay,
  // .pto,
  // .benefits,
  // .dev {
  //   font-size: 18px;
  //   color: #6264a7;
  // }

  // .pay {
  //   &:before {
  //     content: "\E5A2";
  //     vertical-align: middle;
  //   }

  //   &:after {
  //     content: "\E41E";
  //     margin-top: 1%;
  //     float: right;
  //   }
  // }

  // .pto {
  //   &:before {
  //     content: "\E503";
  //     vertical-align: middle;
  //   }

  //   &:after {
  //     content: "\E41E";
  //     margin-top: 1%;
  //     float: right;
  //   }
  // }
  // .benefits {
  //   &:before {
  //     content: "\E625";
  //     vertical-align: middle;
  //   }

  //   &:after {
  //     content: "\E41E";
  //     margin-top: 1%;
  //     float: right;
  //   }
  // }
  // .dev {
  //   &:before {
  //     content: "\E912";
  //     vertical-align: middle;
  //   }

  //   &:after {
  //     content: "\E41E";
  //     margin-top: 1%;
  //     float: right;
  //   }
  // }

  .ptoheading {
    font-size: smaller;
    font-weight: bold;
  }
  .ptoblock {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4%;
    padding: 2%;
    text-align: center;

    &:hover {
      background-color: rgb(149, 235, 235);
    }
  }
  img {
    margin: auto;
  }
  .ch {
    background-color: #dbe4e6 !important;
  }
  .btnclr {
    color: #a61d40;
  }
  .cbr {
    box-shadow: 0 2px 4px 0 #a61d40;
  }
}
.spclose {
  font-size: xx-large !important;
  float: right;
}
.reqptocontainer {
  padding: 4%;
  width: 500px;
}
.registercontainer {
  padding: 4%;
  width: 500px;
}

@media (max-width: 1200px) {
  .registercontainer,
  .reqptocontainer {
    width: 300px;
  }
}
@media (max-width: 300px) {
  .registercontainer,
  .reqptocontainer {
    width: 200px;
  }
}
.popupclose {
  cursor: pointer;
}
.benefitlink {
  color: #000000;
}
.benefitlink:hover {
  text-decoration: none;
  color: #000000;
}

.disablecursor {
  cursor: default !important;
}
